mat-card {
  margin-top: 1em ;
  
}
.go-back-btn {
  font-family: "Poppins", sans-serif;
}
mat-card-title {
  font-family: "Poppins", sans-serif;
}
mat-card-subtitle {
  font-family: "Josefin Sans", sans-serif;
}
.list-group{
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

@media screen and (max-width: 575px){
  .description-card{
    width: 90%;
  }
}